.track *{
	font-family:Roboto,sans-serif;
	font-size:14px;
}

.track-type{
	width: 200px;
	height: 30px;
	left: 378px;
	top: 451px;

	background: #D6938E;
	border-radius: 7px;
	font-weight:bold;
	text-align:center;
	line-height: 2;
	margin:0px;
}

.org-info{
	margin:0px;
	align-self: center;
}
.org-info span{
	color:#65729E;
}

.duration{
	width:127px;
	height:30px;
	display: flex;
  justify-content: space-between;

  align-items: center;
 margin:0px;
}

.duration span{
	width: 55px;
	height: 30px;
	background: #31A38E;
	border-radius: 7px;
	margin:0px;
  display: inline-block;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 2;
	/* i feel like i should stop using line height to center shit.... */
}
.info{
	display:flex; 
	flex-direction:row;
	width: 593px;
	height: 31px;
	justify-content:space-between;
	align-content:center;
	border:1px solid transparent;
	margin:11px auto auto 218px;

}

.descrip{
	width: 755px;
	height: 31px;
	border : 1px solid transparent;
	display: flex;
  justify-content: space-between;
  align-items: center;
	margin: 17px auto auto 25px;
}

.descrip h1{
	font-weight:bold;
	font-size:20px;
}

.descrip p{
	width: 633px;
	height: 31px;
	border : 1px solid transparent;
	font-size: 11.5px;
}

.tags{
	width:591px;
	height:44px;
	display: flex;
	justify-content:space-between;
	align-items:center;
	border:1px solid transparent;
	margin : 5px auto auto 57px;
}
.tags h1{
	font-size:20px;
}

.tag-contain{
	width: 528px;
	height: 44px;

	background: #C4C4C4;
	border-radius: 15px;
	display:flex;
	align-items:center;
}

.tag-contain p {
	min-width: 25px;
	height: 30px;
	background: #31A38E;
	border-radius: 7px;
	font-weight:bold;
	color:white;
	text-align:center;
	line-height:2;
	margin-left:17px;

		padding-left: 14px;
    padding-right: 14px;
}
.tag-contain p:nth-child(2){
	background: #857B92;

}

.tag-contain p:nth-child(3){


	background: #96629A;

}

.track{
	width: 860px;
height: 150px;


background: #E5E5E5;
border-radius: 23px;
border:1px solid transparent;
position: absolute;
bottom:0%;
z-index: 1;
}

.track-card{
	width: 860px;
height: 182px;
border: 1px solid transparent;
position:relative;
}

.fish{
	position: absolute;
	top:0%;
	left:33px;
	z-index:2;
}

.tname{
	Width :164.99px;
	Height :23.57px;
	font-family:Roboto, sans-serif;
	font-weight: bold;
	font-size: 20.2024px;
	line-height: 24px;
	border:1px solid transparent;
	text-align: center;

	color: #FFFFFF;
	z-index:3;

	position: absolute;
	top:32px;
	left:39px;
	margin:0px;
	-webkit-text-stroke: 0.4px #000000;


}